@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body{
    /*background-color:rgb(221, 213, 213);*/
    background-color:white;
}

h1, h2, h3{
    /*font-family: 'Josefin Sans', sans-serif;*/
    font-family: 'Roboto Mono', monospace;
    font-size: 3em;
    font-weight: lighter;
    text-align: center;
    margin-top: 0.1em;
}

#author{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3em;
    text-align: center;
}

#caption{
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
    margin: 2.2em 0em 1em 22em ;
    width: 50%;
}

#servings{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2em;
    font-weight: bold;
    margin: 2.2em 0em 0em 25em ;
    width: 50%;
}

#heading{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.9em;
    margin: 1.5em 0em 1em 6em;
}

#ingredientsList{
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
    margin: 0em 0em 1em 4em;
}

#ingredientPics{
    border-radius: 16px;
    max-width: 60%;
}

#cover{
    max-width: 25%;
    /*
    
    border: 12px solid #a5c747;
    */
    border-radius: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#stars{
    max-width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

#pbCake, #meringue{
    border-radius: 16px;
    max-width: 24%;
    margin: 0em 0em 0em 12em;
}

#goesWellCaption{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3em;
    margin-left: 9.4em;
    margin-bottom: 2em;
}

#line{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
    width: 1em;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 0.9em;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a5c747;
  }